@import "../../styles/variables";

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: baseline;
  box-shadow: 0 0 10px rgba(0, 15, 0, 0.1);

  .header {
    background-color: $color-dark-blue;
    color: $color-white;
    padding: 0.5rem;
    width: 100%;
  }
  .content {
    padding: 1rem;
    width: 100%;
  }
}
